.btn,
.btn:disabled,
.btn:disabled.btn:hover {
  color: var(--clr-neutral-alt);
}

.btn {
  border: solid 0.25rem var(--clr-neutral-alt);
  border-radius: 0.3rem;
  font: bold 1.6rem sans-serif;
  height: 4rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  transition: all ease 0.3s;
  width: 24rem;
}

.btn:disabled {
  background: none;
  opacity: 0.5;
}

.btn:hover {
  background-color: var(--clr-neutral-alt);
  color: var(--clr-neutral);
  cursor: pointer;
}
