#input {
  border: solid 0.25rem currentColor;
  border-radius: 0.3rem;
  color: var(--clr-neutral-alt);
  display: block;
  font: bold 1.8rem sans-serif;
  height: 4rem;
  margin-bottom: 2rem;
  padding: 0.8rem;
  width: 24rem;
}

#input:focus {
  outline: none;
}

#input::placeholder {
  color: currentColor;
  opacity: 0.75;
}
